.env
test.py
.vscode
__pycache__
env
workspace.code-workspace
channellist
*.DS_STORE
modules/model
modules/twitter_bot.py

modules/twitter_upload.py
modules/snipping.py
start-twitterbot.py
modules/Word.py
modules/tweet.py
modules/eng/am/final.mdl
.gitignore
.gitignore
.gitignore
modules/eng/ivector/splice.conf
modules/eng/ivector/online_cmvn.conf
modules/eng/ivector/global_cmvn.stats
modules/eng/ivector/final.mat
modules/eng/ivector/final.ie
modules/eng/ivector/final.dubm
modules/eng/graph/phones/word_boundary.int
modules/eng/graph/HCLr.fst
modules/eng/graph/Gr.fst
modules/eng/graph/disambig_tid.int
modules/eng/conf/model.conf
modules/eng/conf/mfcc.conf
