.env
test.py
/.vscode
/.__pycache__
/.env
__pycache__/checkstream.cpython-39.pyc
__pycache__/dl_stream.cpython-39.pyc
__pycache__/getauth.cpython-39.pyc
__pycache__/notification.cpython-39.pyc
workspace.code-workspace
channellist
*.DS_STORE
__pycache__/checkstream.cpython-310.pyc
__pycache__/dl_stream.cpython-310.pyc
__pycache__/getauth.cpython-310.pyc
__pycache__/notification.cpython-310.pyc
